
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zxx.threepower">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>

    <application>
        <meta-data android:name="power_appId" android:value="${power_appId}"/>
        <meta-data android:name="power_appSecret" android:value="${power_appSecret}"/>

        <provider
            android:name="com.zxx.threepower.FileProviderPower"
            android:authorities="${applicationId}.com.zxx.threepower.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mdtec_file_paths" />
        </provider>
    </application>

</manifest>
  